
/* ==========================================================================
    SASSY STYLE TILES
   ========================================================================== */

.element-collage { // Scope this sucker. It's a dev tool, so we can the selector bloat!

    .adjective-1 {
        @include set-type(10, $scale-up4);
    }

    .adjective-2 {
        font-style: italic;
        @include set-type(10, $scale-up3);
    }

    .adjective-3 {
        text-transform: uppercase;
        @include set-type(10, $scale-up5);
    }

    .adjective-4 {
        font-style: italic;
        font-weight: 400;
        @include set-type(4, $scale-up5);
    }

    .adjective-5 {
        text-transform: uppercase;
        @include set-type(4, $scale-up3);
    }

    .adjective-6 {
        font-style: italic;
        text-transform: uppercase;
        @include set-type(10, $scale-up4);
    }

    .adjective-samples {
        line-height: 1;
    }

    .btn-sample {
        @extend .btn-default;
    }

    .cta-samples {
        text-align: center;
    }

    .font-details {
        @extend .list-inline;
    }

    .font-details,
    .sample-details {
        @extend .muted;
        margin-bottom: spacer(4, $scale-down1)!important;
        @include set-type(4, $scale-down1);
    }

    .logo-sample {
        text-align: center;
    }

    .sample {
//        border-bottom: 2px solid $border-color;
    }

    .sample-heading {
        @extend .muted;
        font-weight: $strong-weight;
        text-transform: uppercase;
        margin-bottom: spacer(1, $scale-down1)!important;
        @include set-type(4, $scale-down1);
    }

    .swatch {
        background: #fff;
        border: 5px solid #fff;
        margin-bottom: spacer(1);
        padding-bottom: 100%;
        @include box-shadow(0 0 2px rgba(0,0,0,.35));
    }

    .typography-sample {
        padding: spacer(4);
    }

    .typography-sample-h1 {
        margin-bottom: spacer(1, $scale-up4);
    }

    .typography-sample-h2 {
        margin-bottom: spacer(1, $scale-up3);
    }

    .typography-sample-p {
        
    }

    .typography-sample-cta {
        @include set-type(12, $scale-up4);
        margin-bottom: spacer(4, $scale-up4);
    }

    .typography-sample-cta-button {
        @extend .btn-default;
        @extend .btn-huge;
        margin-right: 0;
    }

}
