
/* ==========================================================================
    LISTS
   ========================================================================== */

.list-unstyled {

    list-style-type: none;
    padding: 0;

}

.list-block {

    @extend .list-unstyled;

    li {
        margin-bottom: spacer(2);
    }
}

.list-inline {
    @extend .list-unstyled;
    margin: 0 0 spacer(2) -.5em;

    li {
        display: inline-block;
        margin: 0 .5em spacer(2);
    }
}
