
/* ==========================================================================
    WELLS
   ========================================================================== */

.well {
	background: #fff;
	border: 1px solid $border-color;
    border-radius: $brand-radius;
    margin-bottom: spacer(4);
    padding: spacer(4);

	&:last-child {
	//	margin-bottom: 0;
	}

	@include mq(md) {
	//	padding: spacer(8);
	}

	ul {
		list-style-position: inside;
	}
}
