<div class="image-samples sample content">
    <h3 class="sample-heading">Image samples</h3>
    <ul class="image-grid grid">
        <li class="col md-one-half lg-one-quarter">
            <div class="swatch image-sample-1"></div>
        </li>
        <li class="col md-one-half lg-one-quarter">
            <div class="swatch image-sample-2"></div>
        </li>
        <li class="col md-one-half lg-one-quarter">
            <div class="swatch image-sample-3"></div>
        </li>
        <li class="col md-one-half lg-one-quarter">
            <div class="swatch image-sample-4"></div>
        </li>
    </ul>
</div>
