<div class="adjective-samples sample content-narrow">
    <h3 class="sample-heading">Mood samples</h3>
    <ul class="list-inline">
        <li class="adjective-1">{{ site.client.sample-adjective-1 }}</li>
        <li class="adjective-2">{{ site.client.sample-adjective-2 }}</li>
        <li class="adjective-3">{{ site.client.sample-adjective-3 }}</li>
        <li class="adjective-4">{{ site.client.sample-adjective-4 }}</li>
        <li class="adjective-5">{{ site.client.sample-adjective-5 }}</li>
        <li class="adjective-6">{{ site.client.sample-adjective-6 }}</li>
    </ul>
</div>
