
<div class="colour-samples sample content-narrow">
    <h3 class="sample-heading">Colour samples</h3>
    <ul class="swatch-grid grid">
        <li class="col sm-one-half md-one-fifth">
            <div class="swatch color-swatch-1"></div>
            <p class="sample-details">#{{ page.swatch-hex-1 }}</p>
        </li>
        <li class="col sm-one-half md-one-fifth">
            <div class="swatch color-swatch-2"></div>
            <p class="sample-details">#{{ page.swatch-hex-2 }}</p>
        </li>
        <li class="col sm-one-half md-one-fifth">
            <div class="swatch color-swatch-3"></div>
            <p class="sample-details">#{{ page.swatch-hex-3 }}</p>
        </li>
        <li class="col sm-one-half md-one-fifth">
            <div class="swatch color-swatch-4"></div>
            <p class="sample-details">#{{ page.swatch-hex-4 }}</p>
        </li>
        <li class="col sm-one-half md-one-fifth">
            <div class="swatch color-swatch-5"></div>
            <p class="sample-details">#{{ page.swatch-hex-5 }}</p>
        </li>
    </ul>
</div>
