<div class="image-samples sample content">
    <h3 class="sample-heading">Content image samples</h3>
    <ul class="image-grid grid">
        <li class="col md-one-third">
            <div class="image-sample image-sample-2">
                <figure>
                    <img src="{{ site.client.sample-image-2 | prepend: site.baseurl }}" alt="" />
                    <figcaption>{{ site.client.sample-image-2-caption }}</figcaption>
                </figure>
            </div>
        </li>
        <li class="col md-one-third">
            <div class="image-sample image-sample-3">
                <figure>
                    <img src="{{ site.client.sample-image-3 | prepend: site.baseurl }}" alt="" />
                    <figcaption>{{ site.client.sample-image-3-caption }}</figcaption>
                </figure>
            </div>
        </li>
        <li class="col md-one-third">
            <div class="image-sample image-sample-4">
                <figure>
                    <img src="{{ site.client.sample-image-4 | prepend: site.baseurl }}" alt="" />
                    <figcaption>{{ site.client.sample-image-4-caption }}</figcaption>
                </figure>
            </div>
        </li>
    </ul>
</div>
