
/* ==========================================================================
    SASSY STYLE TILES
   ========================================================================== */

.style-tile { // Scope this sucker. It's a dev tool, so we can the selector bloat!

    @extend .clearfix;
    @extend .well;

    [class*="color-swatch"] {
        padding: 3.125em;
    }

    [class*="texture-swatch"] {
        padding: 9em;
    }

    .adjective-samples {
        line-height: 1;
    }

    .client-logo {
        margin: 0 0 spacer(8) 0;
    }

    .font-details {
        @extend .list-inline;
        @extend .muted;
        margin-bottom: spacer(4, $scale-down1)!important;
        @include font-size($scale-down1);
    }

    .sample-heading {
        @extend .muted;
        font-size: $root-size-em;
        font-weight: 600;
        margin-bottom: 0;
        text-transform: uppercase;
    }

    .swatch {
        background: #fff;
        border: 1px solid $border-color;
        margin: .5em 1em .5em 0;
        padding: .275em;
        @include box-shadow(0 1px 3px rgba(0,0,0,.05));
    }

    .typography-sample-h1 {
        margin-bottom: 0;
    }

    .typography-sample-h2 {
        margin-bottom: spacer(1, $scale-up3);
    }

    .typography-sample-p {
        margin-bottom: spacer(1);
    }

    @include mq(md) {
        .adjective-samples
        .colour-samples,
        .texture-samples,
        .typography-samples {
            float: left;
            width: 50%;
        }
    }
}
