
/* ==========================================================================
    SASSY STYLE TILES
   ========================================================================== */

$base-color: $brand-color;

.style-tile { // Scope this sucker for safety. It's a dev tool, so we can excuse selector bloat!

    @extend .well;

    [class*="color-swatch"] {
        padding: 4em;
    }

    [class*="texture-swatch"] {
        padding: 8em;
    }

    .adjective-samples {
        line-height: 1;
    }

    .font-details {
        @extend .list-inline;
        @extend .muted;
        @include font-size($scale-down1);
    }

    .swatch {
        background: #fff;
        border: 1px solid $border-color;
        margin: .75em 1.5em .75em 0;
        padding: .5em;
        @include box-shadow(0 1px 3px rgba(0,0,0,.05));
    }

    .typography-sample-h1 {
        margin-bottom: 0;
    }

    .typography-sample-h2 {
        margin-bottom: spacer(1, $scale-up3);
    }

    .typography-sample-p {
        margin-bottom: spacer(1);
    }
}

/* Individual tiles/pages */

.style-tile-1 { // Our scope, in this case page class

    .adjective-samples {
        font-family: serif;
    }

    .btn-sample-1 {
        font-family: serif;
    }

    .typography-sample-h1 {
        font-family: serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .typography-sample-h2 {
        font-family: serif;
        font-style: italic;
    }

    .typography-sample-p {
        font-family: serif;
    }

    // A Sass map for each colours
    $color-swatch: (
        swatch-1: adjust_hue($base-color, 0),
        swatch-2: adjust_hue($base-color, +180),
        swatch-3: adjust_hue($base-color, +150),
        swatch-4: adjust_hue($base-color, +30),
        swatch-5: adjust_hue($base-color, -150)
    );

    // Yo Dawg! I heard you like colour classes
    @each $swatch-name, $swatch-value in $color-swatch {

        .color-#{$swatch-name} {
            background-color: $swatch-value;

        }
    }

    // A Sass map for each texture
    $texture-swatch: (
        swatch-1: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/pw_maze_white.png"),
        swatch-2: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/white_paperboard.png"),
        swatch-3: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/subtle_grunge.png")
    );

    // Gimme dem textures
    @each $swatch-name, $swatch-value in $texture-swatch {

        .texture-#{$swatch-name} {
            background: #{$swatch-value};

        }
    }

    // Hell, let's spit out some generic UI colours too
    @each $swatch-name, $swatch-value in $color-swatch {

        .ui-#{$swatch-name} {
            color: #{$swatch-value};
        }
    }

    .adjective-1 {
        font-weight: 700;
        @include font-size($scale-up5);
    }

    .adjective-2 {
        font-style: italic;
        @include font-size($scale-up3);
    }

    .adjective-3 {
        font-weight: 700;
        text-transform: uppercase;
        @include font-size($scale-up4);
    }

    .adjective-4 {
        font-style: italic;
        font-weight: 300;
        @include font-size($scale-up6);
    }
}
