@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Lato:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic|Open+Sans:400italic,700italic,400,700);

$type-sample-1: 'Noto Sans', sans-serif;
$type-sample-2: 'Noto Serif', serif;
$type-sample-3: 'Lato', sans-serif;
$type-sample-4: 'Open Sans', sans-serif;

//    swatch-1: #0b1f36,

// A Sass map for each colour
$color-swatch: (
    swatch-1: #3c3c3b,
    swatch-2: #27405f,
    swatch-3: #7f98b9,
    swatch-4: #e4f1fa,
    swatch-5: #c8403d,
);

.element-collage { // Scope this sucker. It's a dev tool, so we can the selector bloat!

    // Override some defaults
    %btn,
    blockquote,
    cite,
    figcaption {
        font-family: $type-sample-2;
    }

    .adjective-1 {
        @extend .ui-swatch-2;
        font-family: $type-sample-2;
        font-weight: $strong-weight;
        @include set-type(4, $scale-up4);
    }

    .adjective-2 {
        @extend .ui-swatch-3;
        font-family: $type-sample-1;
        @include set-type(4, $scale-up3);
    }

    .adjective-3 {
        font-family: $type-sample-2;
        font-style: italic;
        @include set-type(8, $scale-up6);
    }

    .adjective-4 {
        @extend .ui-swatch-5;
        font-family: $type-sample-2;
        font-weight: 700;
        text-transform: uppercase;
        @include set-type(4, $scale-up4);
    }

    .adjective-5 {
        @extend .ui-swatch-3;
        font-family: $type-sample-1;
        font-weight: 700;
        @include set-type(6, $scale-up5);
    }

    .adjective-6 {
        @extend .muted;
        font-family: $type-sample-1;
        font-style: italic;
        @include set-type(8, $scale-up6);
    }

    .adjective-samples {
        margin-bottom: spacer(8);
    }

    blockquote {

        border-left: 4px solid #e4f1fa;
        font-family: $type-sample-2;

        p {

        }
    }

    .btn-sample {

    }

    .btn-sample-2 {

    }

    .header-image {


        position: relative;


        h1 {
            color: #fff;
            margin-bottom: spacer(1, $scale-up3);

            @include mq(lg) {
                margin-bottom: spacer(1, $scale-up4);
            }
        }

        img {
            width: 100%;
        }

        p {
            color: #fff;
            margin: 0;
        }

        .caption {
            background: transparentize(#c8403d, .2);
            padding: spacer(4);
            position: absolute;
            max-width: 28em;

            right: 0;
            bottom: 0;
            left: 0;
        }

        .readmore {
            color: #c8403d;
            font-weight: 800;
            font-size: .83em;
            text-transform: uppercase;
        }
    }

    .image-sample {

        background: #fff;
        border: 5px solid #fff;
        @include box-shadow(0 0 2px rgba(0,0,0,.35));

        figure {
            margin-bottom: 0;
        }

        figcaption {
            font-style: italic;
        }
    }

    .image-sample-1 {

        figure {
            margin: 0;
            position: relative;
        }

        figcaption {
            color: #e4f1fa;
            position: absolute;
            width: 100%;

            right: 0;
            bottom: 0;
            left: 0;
        }
    }

    .image-sample-2 {

        figure {

        }

        figcaption {

        }
    }

    .image-sample-3 {

        figure {

        }

        figcaption {

        }
    }

    .image-sample-4 {

        figure {

        }

        figcaption {

        }
    }

    .logo-sample {
        text-align: center;
    }

    .font-details {
        @extend .list-inline;
    }

    .font-details,
    .sample-details {
        @extend .muted;
        margin-bottom: spacer(4, $scale-down1)!important;
        @include set-type(4, $scale-down1);
    }

    .sample {

    }

    .sample-heading {
        @extend .muted;
        font-weight: $strong-weight;
        text-transform: uppercase;
        margin-bottom: spacer(1, $scale-down1)!important;
        @include set-type(4, $scale-down1);
    }

    .swatch {
        background: #fff;
        border: 5px solid #fff;
        margin-bottom: spacer(1);
        padding-bottom: 100%;
        @include box-shadow(0 0 2px rgba(0,0,0,.35));
    }

    .typography-samples {

        @include mq(md) {

            .col {
                padding-left: spacer(8);
            }

            .grid {
                margin-left: spacer(-8);
            }
        }
    }

    .typography-sample-1 {

        &,
        .typography-sample-h1,
        .typography-sample-h2,
        .typography-sample-p {
            font-family: $type-sample-1;

            .typography-sample-h1 {

            }

            .typography-sample-h2 {

            }
        }
    }

    .typography-sample-2 {

        &,
        .typography-sample-h1,
        .typography-sample-h2,
        .typography-sample-p {
            font-family: $type-sample-2;
        }

        .typography-sample-h1 {

        }

        .typography-sample-h2 {

        }
    }

    .typography-sample-3 {

        &,
        .typography-sample-h1,
        .typography-sample-h2,
        .typography-sample-p {
            font-family: $type-sample-3;
        }

        .typography-sample-h1 {

        }

        .typography-sample-h2 {

        }
    }

    .typography-sample-4 {

        &,
        .typography-sample-h1,
        .typography-sample-h2,
        .typography-sample-p {

        }

        .typography-sample-h1 {

        }

        .typography-sample-h2 {

        }
    }

    .typography-sample-h1 {
        @extend .ui-swatch-5;
        font-weight: 700;
        text-transform: uppercase;
    }

    .typography-sample-h2 {
        @extend .ui-swatch-2;
        font-weight: 700;
    }

    .typography-sample-a {
        color: #c8403d;
    }

    .typography-sample-cta {

    }

    .typography-sample-p {

    }

    // Yo Dawg! I heard you like colour classes
    @each $swatch-name, $swatch-value in $color-swatch {

        .color-#{$swatch-name} {
            background-color: $swatch-value;
        }
    }

    // Hell, let's spit out some generic UI colours too
    @each $swatch-name, $swatch-value in $color-swatch {

        .ui-#{$swatch-name} {
            color: #{$swatch-value};
        }
    }
}
