
/* ==========================================================================
    ELEMENT COLLAGE 1
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Noto+Serif:400,700,400italic,700italic);


$sans-family: 'Noto Sans', sans-serif;
$serif-family: 'Noto Serif', serif;


// A Sass map for each colour
$color-swatch: (
    swatch-1: #0b1f36,
    swatch-2: #27405f,
    swatch-3: #7f98b9,
    swatch-4: #e4f1fa,
    swatch-5: #c8403d,
);

.element-collage-1 {

    color: #333;

    .adjective-1 {
        @extend .ui-swatch-2;
        font-family: $sans-family;
        font-weight: $strong-weight;
        @include set-type(10, $scale-up4);
    }

    .adjective-2 {
        @extend .ui-swatch-3;
        @include set-type(10, $scale-up3);
    }

    .adjective-3 {
        font-weight: $strong-weight;
        font-family: $serif-family;
        @include set-type(10, $scale-up5);
    }

    .adjective-4 {
        @extend .ui-swatch-5;
        font-family: $serif-family;
        @include set-type(4, $scale-up5);
    }

    .adjective-5 {
        font-family: $sans-family;
        font-weight: $strong-weight;
        @include set-type(4, $scale-up3);
    }

    .adjective-6 {
        font-weight: $strong-weight;
        font-family: $serif-family;
        @include set-type(10, $scale-up4);
    }

    .adjective-samples {
        margin-bottom: spacer(8);
    }

    blockquote {

        border: 5px solid $border-color;
        border-width: 5px 0;
        margin: 0 0 spacer(4, $scale-up2) 0;
        padding: spacer(8, $scale-up2);

        p {
            @extend .muted;
            font-family: $serif-family;
            @include set-type(6, $scale-up2);
        }

    }

    .btn-sample {
        font-family: $sans-family;
    }

    .btn-sample-2 {
        @extend .btn-info;
    }

    .cta-samples {
        @extend .color-swatch-5;
        border-top: 2px solid rgba(0,0,0,.4);
        border-bottom: 2px solid rgba(0,0,0,.4);
        color: #fff;
        @include space;
    }

    .typography-sample-1 {

        .typography-sample-h1 {
            font-family: $serif-family;
        }

        .typography-sample-h2 {
            font-family: $serif-family;
        }

        .typography-sample-p {
            font-family: $sans-family;
        }
    }

    .typography-sample-2 {

        .typography-sample-h1 {
            font-family: $sans-family;
        }

        .typography-sample-h2 {
            font-family: $sans-family;
        }

        .typography-sample-p {
            font-family: $serif-family;
        }
    }

    .typography-sample-3 {

        .typography-sample-h1 {
            font-family: $sans-family;
        }

        .typography-sample-h2 {
            font-family: $sans-family;
        }

        .typography-sample-p {
            font-family: $serif-family;
        }
    }

    .typography-sample-h1 {
        @extend .ui-swatch-2;
    }

    .typography-sample-h2 {
        @extend .ui-swatch-3;
    }

    .typography-sample-a {
        @extend .ui-swatch-3;
    }

    .typography-sample-cta {
        font-family: $serif-family;

    }

    .typography-sample-p {

    }

    .well {
        border: 5px solid #eeeff7;
    }

    // Yo Dawg! I heard you like colour classes
    @each $swatch-name, $swatch-value in $color-swatch {

        .color-#{$swatch-name} {
            background-color: $swatch-value;

        }
    }

    // Hell, let's spit out some generic UI colours too
    @each $swatch-name, $swatch-value in $color-swatch {

        .ui-#{$swatch-name} {
            color: #{$swatch-value};
        }
    }
}
