
/* ==========================================================================
    STYLE TILE 1
   ========================================================================== */

.style-tile-1 { // Scope this sucker!

    .adjective-samples {
        font-family: serif;
    }

    .btn-sample-1 {
        font-family: serif;
    }

    .typography-sample-h1 {
        @extend .ui-swatch-1;
        font-family: serif;
        font-weight: 700;
        text-transform: uppercase;
    }

    .typography-sample-h2 {
        @extend .ui-swatch-4;
        font-family: serif;
        font-style: italic;
    }

    .typography-sample-a {

            @extend .ui-swatch-1;
    }

    .typography-sample-p {
        font-family: serif;
    }

    // A Sass map for each colour
    $color-swatch: (
        swatch-1: #FF5335,
        swatch-2: #B39C85,
        swatch-3: #306E73,
        swatch-4: #3B424D,
        swatch-5: #1D181F,
    );

    // Yo Dawg! I heard you like colour classes
    @each $swatch-name, $swatch-value in $color-swatch {

        .color-#{$swatch-name} {
            background-color: $swatch-value;

        }
    }

    // A Sass map for each texture
    $texture-swatch: (
        swatch-1: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/pw_maze_white.png"),
        swatch-2: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/white_paperboard.png"),
    );

    // Gimme dem textures
    @each $swatch-name, $swatch-value in $texture-swatch {

        .texture-#{$swatch-name} {
            background: #{$swatch-value};

        }
    }

    // Hell, let's spit out some generic UI colours too
    @each $swatch-name, $swatch-value in $color-swatch {

        .ui-#{$swatch-name} {
            color: #{$swatch-value};
        }
    }

    .adjective-1 {
        font-weight: 700;
        @include font-size($scale-up5);
    }

    .adjective-2 {
        font-style: italic;
        @include font-size($scale-up3);
    }

    .adjective-3 {
        font-weight: 700;
        text-transform: uppercase;
        @include font-size($scale-up1);
    }

    .adjective-4 {
        font-style: italic;
        font-weight: 300;
        @include font-size($scale-up6);
    }
}
