
/* ==========================================================================
    STYLE TILE 1
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic|Open+Sans:600italic,600,800);

$sans-family: 'Open Sans', sans-serif;
$serif-family: 'Gentium Book Basic', serif;

// A Sass map for each colour
$color-swatch: (
    swatch-1: #1C1D21,
    swatch-2: #31353D,
    swatch-3: #445878,
    swatch-4: #92CDCF,
    swatch-5: #EEEFF7,
);

// A Sass map for each texture
$texture-swatch: (
    swatch-1: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/geometry.png"),
    swatch-2: url("http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grey.png"),
);

.style-tile-2 {

    .style-tile {

        @extend .texture-swatch-2;
        @extend .ui-swatch-1;
        font-family: $serif-family;

        .adjective-1 {
            @extend .ui-swatch-3;
            font-family: $sans-family;
            font-weight: 800;
            @include set-type(4, $scale-up4);
        }

        .adjective-2 {
            @extend .ui-swatch-2;
            font-style: italic;
            @include set-type(4, $scale-up2);
        }

        .adjective-3 {
            @extend .ui-swatch-2;
            font-weight: 800;
            text-transform: uppercase;
            @include set-type(4, $scale-up2);
        }

        .adjective-4 {
            @extend .ui-swatch-4;
            font-family: $sans-family;
            font-style: italic;
            font-weight: 800;
            text-shadow: 2px 4px 2px darken(#92cdcf, 8%);
            @include set-type(4, $scale-up6);
        }

        .adjective-samples {

        }

        .btn-sample {
            font-family: $sans-family;
        }

        .btn-sample-1 {
            @extend .btn-default;
        }

        .btn-sample-2 {
            @extend .btn-info;
        }

        .typography-sample-h1 {
            @extend .ui-swatch-3;
            font-family: $sans-family;
            font-weight: 800;
            text-transform: uppercase;
        }

        .typography-sample-h2 {
            @extend .ui-swatch-2;
            font-family: $sans-family;
            font-weight: 600;
        }

        .typography-sample-a {
            @extend .ui-swatch-3;
        }

        .typography-sample-p {

        }

        .well {
            border: 5px solid #eeeff7;
        }
    }

    // Yo Dawg! I heard you like colour classes
    @each $swatch-name, $swatch-value in $color-swatch {

        .color-#{$swatch-name} {
            background-color: $swatch-value;

        }
    }

    // Gimme dem textures
    @each $swatch-name, $swatch-value in $texture-swatch {

        .texture-#{$swatch-name} {
            background: #{$swatch-value};

        }
    }

    // Hell, let's spit out some generic UI colours too
    @each $swatch-name, $swatch-value in $color-swatch {

        .ui-#{$swatch-name} {
            color: #{$swatch-value};
        }
    }
}
