---
layout: collage
excerpt: In this sample we compare three of the best sans-serifs Google fonts, against the gloriously quirky and deliciously rounded Omnes Pro from Darden Studios.
font-1-name: Noto Sans
font-1-hex-1: 373736
font-1-source: <a href="https://www.google.com/fonts/specimen/Noto+Sans">Google Fonts</a>
font-2-name: Open Sans
font-2-hex-1: 373736
font-2-source: <a href="https://www.google.com/fonts/specimen/Open+Sans">Google Fonts</a>
font-3-name: Lato
font-3-hex-1: 373736
font-3-source: <a href="https://www.google.com/fonts/specimen/Lato">Google Fonts</a>
font-4-name: Omnes Pro
font-4-hex-1: 373736
font-4-source: <a href="https://typekit.com/fonts/omnes-pro">Typekit</a>
---

{% include sample-logo.html %}

{% include sample-typography-2.html %}

{% include sample-logo.html %}

{% include sample-typography-1.html %}
