---
layout: collage
category: collages
excerpt: Noto is Google’s font family was designed to achieve visual harmonization across the world's languages and is vailable in both serif and sans-serif flavours. Unfortunately, both are available in only two weights, somewhat limiting their versatility. 
font-1-name: Noto Sans
font-1-hex-1: 373736
font-1-source: <a href="https://www.google.com/fonts/specimen/Noto+Sans">Google Fonts</a>
font-2-name: Noto Serif
font-2-hex-1: 373736
font-2-source: <a href="https://www.google.com/fonts/specimen/Noto+Serif">Google Fonts</a>
swatch-hex-1: 3c3c3b
swatch-hex-2: 27405f
swatch-hex-3: 7f98b9
swatch-hex-4: e4f1fa
swatch-hex-5: c8403d
---

{% include sample-logo.html %}

{% include sample-swatch.html %}

{% include sample-typography-1.html %}

{% include sample-blockquote.html %}

{% include sample-image-header.html %}

{% include sample-images.html %}

{% include sample-buttons.html %}

{% include sample-adjectives.html %}
