---
layout: collage
category: collages
excerpt: Beautiful and free. Noto is Google’s font family was designed to achieve visual harmonization across the world's languages. With both sans and serif faces it is extremely versatile.
tags: [Noto Sans, Clean, Business]
font-1-name: Noto Serif
font-1-hex-1: 3a3a3a
font-1-source: Google Fonts
font-2-name: Noto Sans
font-2-hex-1: 777
font-2-source: Typekit
font-3-name: Noto Sans
font-3-hex-1: 777
font-3-source: Typekit
swatch-hex-1: 0b1f36
swatch-hex-2: 27405f
swatch-hex-3: 7f98b9
swatch-hex-4: e4f1fa
swatch-hex-5: c8403d
---

{% include sample-logo.html %}

{% include sample-swatch.html %}

{% include sample-typography.html %}

{% include sample-blockquote.html %}

{% include sample-images.html %}

{% include sample-buttons.html %}

{% include sample-calltoaction.html %}

{% include sample-adjectives.html %}
