
/* ==========================================================================
   	FIGURES
   ========================================================================== */

figure {

	margin: 0 0 spacer(3);

	figcaption {
		@extend .muted;
		font-style: italic;
	}

	img {
		margin-bottom: spacer(1);
	}
}
