
/* ==========================================================================
   Site logo
   ========================================================================== */

.logo {
    display: block;

    .author {
        border-radius: 50%;
        height: 100px;
        width: 100px;
        @include box-shadow(0 0 1px 1px rgba(0,0,0,0.25));
    }

	@include mq(xs) {
		display: inline-block;
        margin-right: -.25em;
		width: 25%;
		vertical-align: middle;
	}
}
