
/* ==========================================================================
   Site logo
   ========================================================================== */

.logo {
    display: inline-block;
    vertical-align: middle;

    .author {
        border-radius: 50%;
        width: 60px;
    }
}
