
/* ==========================================================================
    PRIMARY NAVIGATION
   ========================================================================== */

.nav-row {
    margin-bottom: spacer(2);
    padding: 0;
}

[role="navigation"] {

    a {
        text-decoration: none;
    }
}

/* MAIN NAVIGATION */
.nav-primary {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}
