
/* ==========================================================================
    POST
   ========================================================================== */

.post {

}

.post-header {
    @extend .wrapper;
    padding-top: spacer(4);
}

.post-footer {
    border-top: 1px solid $border-color;
}

.post-intro {
    border-top: 1px solid $border-color;
    padding-top: spacer(4);
}

.post-meta {
    font-style: italic;
    margin-bottom: spacer(4, $scale-down1);
    @include set-type(4, $scale-down1);
}

.post-title {

}

.post-title-link {
    text-decoration: none;
}
