
/* ==========================================================================
    POST
   ========================================================================== */

.post {

}

.post-header {
    @extend .wrapper;
    padding-top: spacer(4);
}

.post-footer {
    border-top: 1px solid $border-color;
}

.post-meta {
    font-style: italic;
    margin-bottom: spacer(4, $scale-down1);
    @include font-size($scale-down1);
}

.post-title {
    margin-bottom: 0;
}
